@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

/****** NAVBAR ******/

.navbar{
    display: flex;
    width: 100%;
    height: 130px;
    position: fixed;
    top: 0;
    justify-content: space-evenly;
    background-color: white;   
}

.nav-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown i{
    font-size: 2em;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 140px;
    border: 0.5px solid;
    background-color: white;
    left: 0;
}

.dropdown-content-right{
    display: none;
    flex-direction: column;
    position: absolute;
    width: 140px;
    right: 0;
    border: 0.5px solid;
    background-color: white;
    text-align: end;
}

.dropdown-content a, .dropdown-content-right a{
    text-decoration: none;
    font-size: 1.2em;
    padding: 5%;
    display: block;
    color: black;
    font-weight: 600;
}

.dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content-right{
    display: flex;
}

.dropdown-content a:hover, .dropdown-content-right a:hover{
    background: rgba(183,20,19,1);
    color: white;
}

.nav-logo{
    width: 150px;
    height: 100%;
}

.nav-logo img{
    width: 100%;
    height: 100%;
}

/*********************/

.container{
    min-height: 66vh;
    margin-top: 130px;
    padding-bottom: 10%;
    width: 100%;
    background: linear-gradient(60deg, rgba(0,0,0,1) 0%, rgba(183,20,19,1) 100%);
}

/****** BANNER ******/

.banner{
    display: flex;
    height: 250px;
    width: 100%;
    padding: 2% 2% 4% 2%;
    box-sizing: border-box;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
    line-height: 0;
  }
  
  .box > img {
    width: 200%;
    object-fit: cover; 
    transition: .5s;
    height: 100%;
  }
  
  .box > span {
    font-size: 2.5em;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
    color: red;
    z-index: 1;
  }
  
  .box:hover { flex: 0 0 90%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }

/******************/

/****** CONTENT INDEX ******/

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content h2{
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin-left: 2%;
}

.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    padding: 2% 4%;
    box-sizing: border-box;
}

.card-img{
    flex: 1;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
    line-height: 0;
}

.card-img>img{
    width: 100%;
    object-fit: cover; 
    height: 120%;
}

.card-title{
    color: white;
    margin-bottom: 2%;
}

.card-tab{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    padding: 2% 4%;
    box-sizing: border-box;
}

/****** FOOTER ******/

.foot{
    height: 150px;
    width: 100%;
    display: flex;
    background-color: black;
}

.foot-content{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 2% 2% 4% 2%;
    box-sizing: border-box;
}

.foot-content-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 150px;
}

.foot-img{
    display: flex;
    height: 80%;
    width: 100%;
}

.foot-img>img{
    width: 100%;
    height: 100%;
}

.foot-icon{
    height: 20%;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.foot-icon>i{
    color: white;
    font-size: 1.2em;
}

/****** EFFECTIF ******/

.bandeau{
    display: flex;
    height: 250px;
    width: 100%;
}

.effectif{
    background-image: url(../img/actu-img-2.png);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

h1{
    color: white;
    position: absolute;
    top: 200px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 2em;
}


@media screen and (min-width: 426px) and (max-width: 600px){
    .banner{
        height: 350px;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .banner{
        height: 500px;
    }

    .card{
        height: 180px;
    }

    .card-img>img{
        height: 150%;
    }

    .card-tab{
        height: 500px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .dropdown-content, .dropdown-content-right{
        width: 250px;
    }

    .foot-content{
        padding: 1% 5% 2% 5%;
    }
    
    .foot-content-left{
        width: 180px;
    }

    .bandeau{
        height: 350px;
    }

    h1{
        font-size: 3em;
        top: 250px;
    }

}

@media screen and (min-width: 769px){
    .banner{
        height: 600px;
    }

    .content h2{
        font-size: 1.8em;
    }

    .card{
        height: 250px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .card-title{
        font-size: 1.2em;
    }

    .card-img>img{
        height: 150%;
    }

    .card-tab{
        height: 600px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .dropdown-content, .dropdown-content-right{
        width: 250px;
    }

    .foot-content{
        padding: 1% 8% 2% 8%;
    }
    
    .foot-content-left{
        width: 200px;
    }

    .bandeau{
        height: 450px;
    }

    h1{
        font-size: 3.5em;
        top: 300px;
    }

}

@media screen and (min-width: 1025px){
    .banner{
        height: 750px;
    }

    .content h2{
        font-size: 2em;
    }

    .card{
        height: 350px;
    }

    .card-title{
        font-size: 1.5em;
    }

    .card-tab{
        height: 900px;
    }

    .dropdown-content, .dropdown-content-right{
        width: 350px;
    }

    .foot{
        height: 200px;
    }

    .foot-content{
        padding: 1% 10% 2% 10%;
    }
    
    .foot-content-left{
        width: 200px;
    }

    .bandeau{
        height: 450px;
    }

    .effectif{
        background-position: top;
    }

    h1{
        font-size: 3.5em;
        top: 300px;
    }
}

@media screen and (min-width: 1301px){
    .banner{
        height: 800px;
    }
}

@media screen and (min-width: 1441px){
    .banner{
        height: 950px;
    }

    .content h2{
        font-size: 3em;
    }

    .card{
        height: 400px;
    }

    .card-title{
        font-size: 2em;
    }

    .card-tab{
        height: 1000px;
    }

    .dropdown-content, .dropdown-content-right{
        width: 500px;
    }

    .bandeau{
        height: 850px;
    }

    .effectif{
        background-position: center;
    }

    h1{
        font-size: 3.5em;
        top: 300px;
    }
}